POSTGRES_USER=rhytmiq
POSTGRES_PASSWORD=change-me
POSTGRES_DB=rhytmiq_db
POSTGRES_TEST_DB=rhytmiq_test_db
POSTGRES_PORT=5432

PGADMIN_USER=admin
PGADMIN_DEFAULT_PASSWORD=change-me
PGADMIN_PORT=8081
PGADMIN_DEFAULT_EMAIL=admin@example.com

POSTGRESQL_DATABASE_URL=postgresql+psycopg://rhytmiq:change-me@localhost:5432/rhytmiq_db
POSTGRESQL_TEST_DATABASE_URL=postgresql+psycopg://rhytmiq:change-me@localhost:5432/rhytmiq_test_db
